/*
Theme Name: deveducation
Version: 1.0.0
Description: Описание
Author: Anatolii Kryvkin
 */


body {
    background: url("https://cdn.pixabay.com/photo/2015/03/30/12/46/plant-698637_1280.jpg") no-repeat repeat;
    background-size: 100%;
}

main {
    min-height: calc(100vh - 150px);
}

.title-page {
    margin: 0 auto;
    padding: 15px;
    color: #fff;
    text-shadow: 1px 1px 3px black, 0 0 50px black;
    text-align: center;
}

.widgettitle {
    text-align: center;
}

.tagcloud {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tag-cloud-link{
    font-size: 15px !important;
    font-weight: bold;
    color: #000;
}

.nav-links {
    display: inline-block;
    margin-bottom: 15px;
}

.nav-links a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #142850;
    border-radius: 5px;
    font-weight: bold;
}

.nav-links .current {
    background-color: #142850;
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #142850;
    border-radius: 5px;
    font-weight: bold;
}

.post-thumb img{
    max-width:100%;
    max-height: 350px;
}

.banner-flex {
    min-height: calc(100vh - 150px);
}

.banner {
    background: url("https://66.media.tumblr.com/adca9914ed28460becfb180075352656/tumblr_ngfwf86M2N1qfirfao1_1280.jpg") center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.second-baner {
    background: url("https://cdn.pixabay.com/photo/2015/07/05/13/44/beach-832346_1280.jpg") center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.menu-nav > li{
    padding-right: 20px;
}

.menu-item > a {
    padding-right: 15px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    color: #fff;
    text-shadow: 1px 1px 3px black, 0 0 50px black;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.contact-form {
    min-height: calc(100vh - 200px);
}
.wpcf7-form {
    margin: 0 auto;
    padding-top: 10px;
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wpcf7-form > input[text] {
    border: 2px solid red;
}

.page-footer {
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: black;
    text-shadow: 1px 1px 3px black;
    color: #fff;
    opacity: 0.8;
}

li{
    list-style-type: none;
}

li > a {
    padding: 0;
}

#menu-footer {
    padding: 0;
}

p > label {
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

.wpcf7-submit {
    padding: 5px;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #142850;
    border-radius: 10px;
}

.wpcf7-submit:hover {
    background-color: #142850;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.blog-post {
    border: 2px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}